/* Add CSS Styling */

.odd {
    background-color: pink;
    font-family: Verdana, "DejaVu Sans", sans-serif;
}

.odd.better {
    font-size: 24px;
}

#even {
    color: #0000FF;
    font-size: 36px;
}

#next-even {
    background-color: lightgreen;
    font-size: 24px;
    font-weight: bold;
}